.wrapper {
    width: 1300px;
    height: 100%;
    display: flex;
}

.content {
    padding-top: 50px;
    padding-left: 100px;
}

.title {
    margin-bottom: 100px;
}

.title p:first-child {
    font-size: 42px;
    font-weight: 800;
    color: #26538e;
    margin-bottom: 15px;
}

.title p:last-child {
    width: 800px;
    font-size: 20px;
    color: #26538e;
}

.lottieContainer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lottie {
    width: 100%;
}

.formContainer {
    position: relative;
    width: 600px;
    border-radius: 5px;
    backdrop-filter: blur(30px);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px 40px;
}

.formContainer img {
    position: absolute;
    top: -50px;
    right: -50px;
    z-index: -1;
}

.formContainer p {
    font-size: 24px;
    color: #26538e;
    margin-bottom: 20px;
}

.formContainer form {
    display: flex;
    flex-direction: column;
}

.formContainer form textarea {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 10px;
    border: none;
    outline: none;
    resize: none;
}

.formContainer .controller {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.formContainer button {
    width: 171px;
    height: 52px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
}

.formContainer button:first-child {
    background-color: #ffffff;
    border: 1px solid #26538e;
    color: #26538e;
    margin-right: 10px;
}

@media(max-width: 1320px) {
    .wrapper {
        width: 90%;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }
    .content {
        width: 100%;
        padding-left: 0;
    }
    .title p:last-child {
        width: 100%;
    }
    .lottieContainer {
        position: static;
    }
}

@media (max-width: 800px) {
    .formContainer {
        width: 100%;
    }
    .lottieContainer {
        width: 100%;
    }
}